
## **Workshop on Data processing**

Welcome to this hands-on training where you will immerse yourself in Data processing with Python. Using both `pandas` and `scikit learn`, we'll learn how to process data for machine learning. In this session you will learn:

- The different types of machine learning and when to use them.
- How to apply data preprocessing for machine learning including feature engineering. 



## **The Dataset**

The dataset to be used in this webinar is a CSV file named `telco.csv`, which contains data on telecom customers churning and some of their key behaviors. It contains the following columns:

**Features**:

- `customerID`: Unique identifier of a customer.
- `gender`: Gender of customer.
- `SeniorCitizen`: Binary variable indicating if customer is senior citizen.
- `Partner`: Binary variable if customer has a partner.
- `Dependents`: Binary variable if customer has dependent.
- `tenure`: Number of weeks as a customer.
- `PhoneService`: Whether customer has phone service.
- `MultipleLines`: Whether customer has multiple lines.
- `InternetService`: What type of internet service customer has (`"DSL"`, `"Fiber optic"`, `"No"`).
- `OnlineSecurity`: Whether customer has online security service.
- `OnlineBackup`: Whether customer has online backup service.
- `DeviceProtection`: Whether customer has device protection service.
- `TechSupport`: Whether customer has tech support service.
- `StreamingTV`: Whether customer has TV streaming service.
- `StreamingMovies`: Whether customer has movies streaming service.
- `Contract`: Customer Contract Type (`'Month-to-month'`, `'One year'`, `'Two year'`).
- `PaperlessBilling`: Whether paperless billing is enabled.
- `PaymentMethod`: Payment method.
- `MonthlyCharges`: Amount of monthly charges in $.
- `TotalCharges`: Amount of total charges so far.

**Target Variable**:

- `Churn`: Whether customer `'Stayed'` or `'Churned'`.

In [1]:
# Import pandas, matplotlib, seaborn, numpy and sklearn
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import sklearn

In [2]:
# Read in dataset
telco = pd.read_csv('https://seafile.unistra.fr/f/5f6f582ab0db425b94d4/?dl=1', index_col = "Unnamed: 0")
pd.set_option('display.max_columns', None)

In [4]:
# Print header with the header function
telco.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,No,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,Stayed
1,5575-GNVDE,Male,No,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,Stayed
2,3668-QPYBK,Male,No,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Churned
3,7795-CFOCW,Male,No,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,Stayed
4,9237-HQITU,Female,No,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Churned

- **Observation 1:** For the purposes of machine learning, the `customerID` doesn't have any predictive power and will be dropped.
- **Observation 2:** Categorical variables need to be encoded as numeric for machine learning.

In [5]:
# Print info of the dataset using info function
telco.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   object
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(1), object(19)
memory usage: 1.5+ MB

**Observation 3:** `TotalCharges` column is of type `object` - it needs to be converted to `float`.

In [11]:
# Take a look at unique values in telco
for column in telco.columns:
    print(column, ':', telco[column].unique())

customerID : ['7590-VHVEG' '5575-GNVDE' '3668-QPYBK' ... '4801-JZAZL' '8361-LTMKD'
 '3186-AJIEK']
gender : ['Female' 'Male']
SeniorCitizen : ['No' 'Yes']
Partner : ['Yes' 'No']
Dependents : ['No' 'Yes']
tenure : [ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26  0
 39]
PhoneService : ['No' 'Yes']
MultipleLines : ['No phone service' 'No' 'Yes']
InternetService : ['DSL' 'Fiber optic' 'No' 'dsl']
OnlineSecurity : ['No' 'Yes' 'No internet service']
OnlineBackup : ['Yes' 'No' 'No internet service']
DeviceProtection : ['No' 'Yes' 'No internet service']
TechSupport : ['No' 'Yes' 'No internet service']
StreamingTV : ['No' 'Yes' 'No internet service']
StreamingMovies : ['No' 'Yes' 'No internet service']
Contract : ['Month-to-month' 'One year' 'Two year']
PaperlessBilling : ['Yes' 'No']
PaymentMethod : ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
MonthlyCharges : [29.85 56.95 53.85 ... 63.1  44.2  78.7 ]
TotalCharges : ['29.85' '1889.5' '108.15' ... '346.45' '306.6' '6844.5']
Churn : ['Stayed' 'Churned']

**Observation 4:** The `InternetService` column should have `'DSL'`, `'Fiber optic'` and `'No'` as values - yet here there are 4 unique values.

In [12]:
# Show unique values of internet service
telco['InternetService'].unique()

array(['DSL', 'Fiber optic', 'No', 'dsl'], dtype=object)

**Observation 4:** The `InternetService` column has a `'dsl'` value that needs to be collapsed to `'DSL'`.

## **Data Cleaning**

**Task 1: Dropping** `customerID` **column**

To drop a column from a DataFrame - we can use the `.drop()` method alongside the following arguments:

- Name of `column` dropped - in this example `'customerID'`
- `axis`: Whether to drop row (`0`), or column (`1`).
- `inplace`: Boolean whether to drop in place and overwrite change in DataFrame.

In [14]:
# Drop customer ID column
telco.drop(['customerID'], axis=1)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,No,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,Stayed
1,Male,No,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,Stayed
2,Male,No,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Churned
3,Male,No,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,Stayed
4,Female,No,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Churned
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,No,Yes,Yes,24,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,Stayed
7039,Female,No,Yes,Yes,72,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,Stayed
7040,Female,No,Yes,Yes,11,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,Stayed
7041,Male,Yes,Yes,No,4,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Churned
7042,Male,No,No,No,66,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,Stayed

**Task 2: Converting** `TotalCharges` **column**

To convert a column from string to numeric - we can use the `pd.to_numeric()` function - which takes the following arguments:

- Name of `column` to convert - in this example `'TotalCharges'`
- `errors`: Whether to `'raise'` an error if cannot convert or to `'coerce'` it to `NaN`.

In [17]:
# Convert TotalCharges to numeric using to_numeric function
telco['TotalCharges'] = pd.to_numeric(telco['TotalCharges'], errors='coerce')

In [18]:
# Print info
telco.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   object
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7032 non-null   float64
 20  Churn             7043 non-null   object
dtypes: float64(2), int64(1), object(18)
memory usage: 1.5+ MB

In [20]:
# Print # of missing values
telco.isna().sum()

customerID           0
gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges       0
TotalCharges        11
Churn                0
dtype: int64

**Observation 5:** The `TotalCharges` column has 11 missing values here - we can either drop them or impute them with a statistical measure _(e.g. median or mean)_.

In [21]:
# Get distribution of TotalCharges using the describe function
telco['TotalCharges'].describe()

count    7032.000000
mean     2283.300441
std      2266.771362
min        18.800000
25%       401.450000
50%      1397.475000
75%      3794.737500
max      8684.800000
Name: TotalCharges, dtype: float64

**Reminder :** As a reminder, the `.loc[]` method lets us slice a DataFrame by a group of rows or columns by labels or boolean arrays - meaning we can subset a DataFrame `df` as such:

```
df.loc[row condition, column label]
```

In [25]:
# Replace NA of TotalCharges with median using isna() function
telco.loc[telco['TotalCharges'].isna(), 'TotalCharges'] = telco['TotalCharges'].median()

1397.475

In [26]:
telco.isna().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

Create a dataset from telco that contains the columns `gender`,`SeniorCitizen`,`TotalCharges`,`MultipleLines` and `MonthlyCharges`

In [53]:
dataset = telco[['gender', 'SeniorCitizen', 'TotalCharges', 'MultipleLines', 'MonthlyCharges']]
dataset.head()

   gender SeniorCitizen  TotalCharges     MultipleLines  MonthlyCharges
0  Female            No         29.85  No phone service           29.85
1    Male            No       1889.50                No           56.95
2    Male            No        108.15                No           53.85
3    Male            No       1840.75  No phone service           42.30
4  Female            No        151.65                No           70.70

Get the list of all features, the categorical and the numerical

In [54]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 0 to 7042
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   gender          7043 non-null   object
 1   SeniorCitizen   7043 non-null   object
 2   TotalCharges    7043 non-null   float64
 3   MultipleLines   7043 non-null   object
 4   MonthlyCharges  7043 non-null   float64
dtypes: float64(2), object(3)
memory usage: 650.1+ KB

In [55]:
# Get all features
features = dataset.columns
# Get all categorical features
features_categorical = [feature for feature in features if dataset[feature].dtype != 'float64']
# Get all numeric columns
features_numeric = [feature for feature in features if dataset[feature].dtype == 'float64']

In [56]:
print(features)
print(features_categorical)
print(features_numeric)

Index(['gender', 'SeniorCitizen', 'TotalCharges', 'MultipleLines',
       'MonthlyCharges'],
      dtype='object')
['gender', 'SeniorCitizen', 'MultipleLines']
['TotalCharges', 'MonthlyCharges']

Descritize all categorical features with differents labels and store in a dataframe

In [58]:
for i, feature in enumerate(features_categorical):
    uniq = dataset[feature].unique()
    print(feature, ':', uniq)

gender : ['Female' 'Male']
SeniorCitizen : ['No' 'Yes']
MultipleLines : ['No phone service' 'No' 'Yes']

Descritize all numeric features with using `KBinsDiscretizer`of `sklearn.preprocessing` library

Install SPMF library https://pypi.org/project/spmf/

In [267]:
#install spmf library
!pip install spmf

Requirement already satisfied: spmf in /anaconda3/lib/python3.7/site-packages (1.3)
Note: you may need to restart the kernel to use updated packages.

Store the dataframe in a csv file using `to_csv`in this format 


```
0 2 6 15 25
0 2 4 8 19
0 2 4 8 20
```

from the given website run Apriori algorithm which starts as follows: 
```
spmf = Spmf("Apriori",...
```

In [12]:
#run Apriori algorithm

Using `sklearn.decompositio` library run the principal component analysis to reduce the dimensio to 2

In [13]:
#PCA to 2 dimension

In [326]:
principalDf

      principal component 1  principal component 2
0                 -4.222658              -0.123872
1                 -1.552956              -0.243348
2                 -2.866539               1.245562
3                 -2.167359              -0.954746
4                 -1.379794               2.583910
5                  1.762292               3.743966
6                  2.331950               1.582169
7                 -4.222658              -0.123872
8                  3.732666               1.510602
9                 -0.239373              -1.732257
10                -2.209748               0.501107
11                -5.094999              -0.750822
12                 5.701936              -0.730189
13                 5.045144               0.014266
14                 2.817936               2.339504
15                 7.759443              -1.546211
16                -4.437103              -1.487851
17                 7.015519              -2.219098
18                -2.208643               0.508533
19                 1.419429               2.425924
20                -3.462203               0.562146
21                -5.094999              -0.750822
22                -5.094999              -0.750822
23                 0.761386              -1.151243
24                 0.503447              -1.066796
25                -1.551852              -0.235922
26                 5.045144               0.014266
27                -4.223762              -0.131298
28                 5.615907              -2.140105
29                -1.465823               1.173994
...                     ...                    ...
7013               3.646637               0.100686
7014               3.645533               0.093260
7015               2.007825               0.292109
7016              -2.865435               1.252988
7017              -4.437103              -1.487851
7018              -1.380899               2.576484
7019              -4.437103              -1.487851
7020              -5.094999              -0.750822
7021              -1.466928               1.166568
7022               7.015519              -2.219098
7023               6.378570              -1.439235
7024               2.902713              -0.572202
7025               1.676263               2.334050
7026              -3.608255               0.587526
7027              -0.724107               1.832030
7028               1.161343              -1.803825
7029              -3.461099               0.569572
7030              -5.093895              -0.743396
7031               0.779020              -1.130687
7032              -1.105326               2.512593
7033               0.589475               0.343120
7034               6.359832              -1.467217
7035               0.675504               1.753036
7036              -1.337406               1.128058
7037              -3.780312              -2.232306
7038               1.589130               0.916708
7039               7.016623              -2.211672
7040              -4.222658              -0.123872
7041              -1.105326               2.512593
7042               6.101893              -1.382770

[7043 rows x 2 columns]

In [14]:
#display the results with scatter